<!doctype html>
    html{ 
   text-align: center;
   }
   
body{
      background-color: pink; 
         color: #FFFDE7;
         font-family: 'Quicksand', normal;
            background-image: url(https://covuccia.smugmug.com/M/i-2qqFWsf/0/X2/05.%20Yoga-X2.png);
      background-size: cover;
    }

   h1 {
      color: #FFFDE7;
      font: 90px 'Londrina Outline', normal;
      text-align: center;
      
      
    } 
      
       h2 {
      color: #FFFDE7;
      font: 50px 'Otro', sans-serif;
      text-align: center;
       }
      P {
        text-align: center;
         
      }
     nav {
  position: absolute center;
  }
  
 /* unvisited link */
nav a{
    position: center;
   
}
nav a:link, a:link{
    color: #FFFDE7;
    position: center;
}

/* visited link */
nav a:visited, a:visited{
    color: #FFFDE7;
    position: center;
}

/* mouse over link */
nav a:hover, a:hover{
    color: #FFFDE7;
    position: center;
}

/* selected link */
nav a:active, a:active{
    color: white ;
    position: center;
} 

footer, hr,img {
   position: center;
}

#see{
    
  background: transparent linear-gradient(90deg, rgba(36, 198, 220, 0.31) 10%, rgba(81, 74, 157, 0.73) 90%) repeat scroll 0% 0%;
  background:    -moz-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* W3C */
  
      height: 150px;
    width: 100%;   
}
section a{
    color: #FFF;
    border: 1px solid #FFF;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
}
section {
  position: relative;
}

section a{
  width: 300px;
  height: 25px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -32px 0 0 -170px;
}
