<!doctype html>
    html{ 
   text-align: center;
   }
   
body{
      background-color: pink; 
         color: #FFFDE7;
         font-family: 'Quicksand', normal;
            background-image: url(https://covuccia.smugmug.com/M/i-2qqFWsf/0/X2/05.%20Yoga-X2.png);
      background-size: cover;
    }

   h1 {
      color: #FFFDE7;
      font: 90px 'Londrina Outline', normal;
      text-align: center;
      
      
    } 
      
       h2 {
      color: #FFFDE7;
      font: 50px 'Otro', sans-serif;
      text-align: center;
       }
      P {
        text-align: center;
         
      }
     
 /* unvisited link */
nav a{
    position: center;
   
}
nav a:link, a:link{
    color: #FFFDE7;
    position: center;
}

/* visited link */
nav a:visited, a:visited{
    color: #FFFDE7;
    position: center;
}

/* mouse over link */
nav a:hover, a:hover{
    color: #FFFDE7;
    position: center;
}

/* selected link */
nav a:active, a:active{
    color: white ;
    position: center;
} 

footer, hr,img {
   position: center;
}
